binary_parser.zip
main.exe
messageInfo.json
messageInfo.bin.xfbin
MainModeParam.bin.xfbin
MainModeParam.json
parser output.txt
PlayerColorParam.bin.xfbin
PlayerColorParam.json
src/templates/T_MainModeParam.json
merging/messageInfo/messageInfo.txt
merging/messageInfo/halloween guide characters.json
merging/messageInfo/halloween guide characters.txt
.vscode/settings.json
.vscode/c_cpp_properties.json
